# Base de datos
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pianoflow
DB_HOST=localhost
DB_PORT=5432

# Autenticación y JWT
JWT_SECRET=tu_secreto_super_seguro_para_jwt
GOOGLE_CLIENT_ID=tu_cliente_id_de_google_oauth.apps.googleusercontent.com

# Servidor
PORT=3000

# Entorno
NODE_ENV=development
